<template name="register">
	<div class="livechat-form">
		<div class="error">
			<span>{{{error}}}</span>
		</div>

		<p class="welcome">
			{{{welcomeMessage}}}
		</p>
		<form id="livechat-registration">
			{{#if loggedIn}}
				<br>
				<p>Olá <strong>{{userName}}</strong>, por favor, escolha uma das opções abaixo:</p>
			{{else}}
				<input type="text" name="name" id="guestName" placeholder="{{_ "Name"}}">
			{{/if}}
			<!-- <input type="email" name="email" id="guestEmail" placeholder="{{_ "Email"}}"> -->

			<!-- {{#if hasDepartments}}
				<select name="department">
					<option value="">{{_ "Select_a_department"}}</option>
					{{#each departments}}
						<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
			{{/if}} -->
			<br>
			<button type="submit" class="button request-chat">{{_ "Request_chat"}}</button>
			<br>
			<button type="submit" class="button request-video">{{_ "Request_video_chat"}}</button>
		</form>
	</div>
</template>
